<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

   function renderChart(data) {
      var dataTable = new window.google.visualization.DataTable();
      dataTable.addColumn('number', 'Time stamp');
      dataTable.addColumn('number', 'Boom 2 air temperature');

      JSON.parse(data).forEach(function (pt) {
         var timestamp = parseInt(pt["Time stamp"]);
         var b2AirTemp = parseInt(pt.B2_AIR_Temp);
         dataTable.addRow([timestamp, b2AirTemp]);
      });

      var chartOptions = {
         title: 'Boom 2 air temperature vs. Time',
         hAxis: { title: 'Time stamp' },
         vAxis: { title: 'Boom 2 air temperature' },
         legend: 'Boom 2 air temperature'
      };

      var chart = new window.google.visualization.ScatterChart($('#chart')[0]);
      chart.draw(dataTable, chartOptions);
   }

   google.load('visualization', '1.0', { 'packages': ['corechart'] });
   google.setOnLoadCallback(function() {
      $.ajax({
         url: "@Url.Action("HttpRequest", new { url = "http://localhost:50367/api/acq/data?startRow=0&endRow=10" })"
      }).success(renderChart);
   });
</script>

<div id="chart"></div>