<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
   
   function renderChart(data) {
      var dataTable = new window.google.visualization.DataTable();
      dataTable.addColumn('number', 'Time stamp');
      dataTable.addColumn('number', 'Boom 2 air temperature');

      JSON.parse(data).forEach(function (pt) {
         var timestamp = parseInt(pt["Time stamp"]);
         var b2AirTemp = parseInt(pt.B2_AIR_Temp);
         dataTable.addRow([timestamp, b2AirTemp]);
      });

      var options = {
         title: 'Boom 2 air temperature vs. Time',
         hAxis: { title: 'Time stamp' },
         vAxis: { title: 'Boom 2 air temperature' },
         legend: 'Boom 2 air temperature'
      };

      var chart = new window.google.visualization.ScatterChart($('#acqChart')[0]);
      chart.draw(dataTable, options);
   }

   function renderTable(data) {
      var json = JSON.parse(data);
      var dataTable = new window.google.visualization.DataTable();

      for (var field in json[0]) {
         dataTable.addColumn('string', field);
      }

      json.forEach(function (rowData) {
         var row = [];
         for (var column in rowData) {
            row.push(rowData[column]);
         };
         dataTable.addRow(row);
      });

      var options = {
         showRowNumber: true,
         page: 'enable',
         pageSize: 10,
         width: '100%'
      }
      
      var table = new window.google.visualization.Table($('#indexTable')[0]);
      table.draw(dataTable, options);
   }

   google.load('visualization', '1.0', { 'packages': ['corechart', 'table'] });
   google.setOnLoadCallback(function() {
      $.ajax({
         url: "@Url.Action("HttpRequest", new { url = "http://localhost:50367/api/acq/?endRow=500" })"
      }).success(function(data) {
         renderChart(data);

         $.ajax({
            url: "@Url.Action("HttpRequest", new { url = "http://localhost:50367/api/index/?endRow=100" })"
         }).success(renderTable);
      });
   });
</script>

<div id="acqChart"></div>
<div id="indexTable"></div>
